.header {
  border-bottom: 1px solid var(--primary-color);
  background-color: hsl(0 0% 100% / 0.6);
  backdrop-filter: blur(8px);
  width: 100%;
  // min-height: 20px;
}
.header-warning {
  display: flex;
  justify-self: center;
  align-items: center;
  background-color: rgb(240 198 240 / 79%);
  color: var(--primary-color);
  padding: 0.75em 1em;
  text-align: center;
  border-radius: 0 0 8px 8px;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.5em;
  backdrop-filter: blur(8px);
  border-top: none;
}

.logo {
  display: flex;
  align-items: center;

  .logo-img {
    height: 48px;
    cursor: pointer;
  }

  .logo-text {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
  }
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  a {
    color: black;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
  }
}

.nav-links a:hover {
  color: var(--primary-color);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
  max-width: 1400px;
}

.contact-btn {
  padding: 0.5rem 1rem;
  border-radius: calc(0.5rem - 2px);
}

@media (max-width: 900px) {
  .logo-text {
    display: none;
  }

  nav {
    justify-content: space-between;
    margin: 0 1rem;
  }

  .nav-links {
    display: none;
  }
}
