<header
  class="header"
  role="banner"
>
  <div class="container">
    <div class="logo">
      <h1 class="logo-text">
        <a (click)="scrollToSection('inicio')">{{ data().name }}</a>
      </h1>
    </div>
    <nav
      class="nav-links"
      role="navigation"
    >
      @for (link of data().links; track link.label){
      <a (click)="scrollToSection(link.url)"> {{ link.label }}</a>
      }
    </nav>
    <button
      class="contact-btn"
      mat-flat-button
    >
      <a (click)="scrollToSection(data().button.url)"> {{ data().button.label }}</a>
    </button>
  </div>
</header>
