<header
  class="header"
  role="banner"
>
  <div class="container">
    <div class="logo">
      <img
        class="logo-img"
        [src]="'logo/' + data().logo"
        alt="Logo"
        (click)="scrollToSection('inicio')"
      />
      <h2
        class="logo-text"
        (click)="scrollToSection('inicio')"
      >
        {{ data().name }}
      </h2>
    </div>
    <nav
      class="nav-links"
      role="navigation"
    >
      @for (link of data().links; track link.label){
      <a (click)="scrollToSection(link.url)"> {{ link.label }}</a>
      }
    </nav>
    <a
      mat-flat-button
      class="contact-btn"
      [href]="data().button.url"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{ data().button.label }}</a
    >
  </div>
</header>

<div class="header-warning">
  <span style="display: inline-block; vertical-align: middle; margin-right: 0.5em"> &#9888; </span>
  {{ data().warning }}
</div>
