.header {
  position: sticky;
  top: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--primary-color);

  background-color: hsl(0 0% 100% / 0.6);
  backdrop-filter: blur(8px);

  width: 100%;
}

.logo-text {
  font-size: 2rem;
  font-weight: bold;
}

a {
  color: black;
  margin-left: 20px;
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.contact-btn {
  padding: 0.5rem 1rem;
  border-radius: calc(0.5rem - 2px);
}

@media (max-width: 768px) {
  nav {
    justify-content: space-between;
    margin: 0 1rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #f5bc87;
    position: absolute;
    top: 49px;
    left: 0;
  }

  .nav-list.active {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }

  .nav-overlay.active {
    background-color: none;
    height: 100vh;
  }
}
