<section
  id="ubicacion"
  class="ubicacion"
>
  <div class="container">
    <div class="right-content">
      <img
        src="img/banner.png"
        alt="Banner"
      />
    </div>
    <div class="left-content">
      <h2 class="section-title">{{ data().title }}</h2>
      <p class="color-gray">{{ data().subtitle }}</p>
      <div class="ubication-details">
        @for(item of data().items; track $index){
        <div class="ubication-detail">
          <fa-icon
            [icon]="icons[item.icon]"
            size="sm"
            class="fa-icon"
          ></fa-icon>
          <div class="ubication-text">
            <p>{{ item.label }}</p>
            <p class="color-gray">{{ item.value }}</p>
          </div>
        </div>
        }
        <button
          mat-stroked-button
          class="button-ubication"
        >
          <a [href]="data().button.url"> {{ data().button.label }}</a>
        </button>
      </div>
    </div>
  </div>
</section>
