.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 3rem;
  gap: 1.5rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.hero-title {
  font-size: 48px;
  line-height: 1;
}

.hero-description {
  font-size: 20px;
  color: var(--text-color-footer);
}

.banner {
  width: 100%;
  height: 500px;
  background-color: var(--primary-color);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;

  button {
    border-radius: calc(0.5rem - 2px);
  }
}

.hero-link {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .banner {
    height: 300px;
  }
}
