<section
  id="inicio"
  class="hero"
>
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">{{ data().title }}</h1>
      <p class="hero-description">{{ data().subtitle }}</p>
    </div>
    <div class="actions">
      <button
        mat-flat-button
        (click)="scrollToSection(data().button.primary.url)"
      >
        {{ data().button.primary.label }}
      </button>
      <button
        mat-stroked-button
        (click)="scrollToSection(data().button.secondary.url)"
      >
        {{ data().button.secondary.label }}
      </button>
    </div>
    <div
      class="hero-link"
      (click)="scrollToSection(data().button.moreInfo.url)"
    >
      {{ data().button.moreInfo.label }}
      <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
    </div>
  </div>
  <div class="banner">
    <img
      src="img/banner.webp"
      alt="Banner"
    />
  </div>
</section>
