.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  gap: 1rem;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.banner {
  width: 100%;
  height: 500px;
  background-color: var(--primary-color);
}

.hero-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .banner {
    height: 300px;
  }
}
