<section
  id="ubicacion"
  class="ubicacion"
>
  <div class="">
    <h2 class="section-title">{{ data().title }}</h2>
    <p class="section-description">{{ data().subtitle }}</p>
    <div class="ubicacion-details">
      @for(item of data().items; track $index){
      <div class="ubicacion-detail">
        <fa-icon
          [icon]="icons[item.icon]"
          class="fa-icon"
        ></fa-icon>
        <div>
          <p>{{ item.label }}</p>
          <p>{{ item.value }}</p>
        </div>
      </div>
      }
      <button mat-stroked-button>
        <a [href]="data().button.url"> {{ data().button.label }}</a>
      </button>
    </div>
    <div class="ubicacion-map">
      <!-- <img
    src="/placeholder.svg?height=450&width=800"
    alt="Mapa de ubicación"
  /> -->
    </div>
  </div>
</section>
