<!-- Hero Section -->
<app-hero [data]="data().sections.hero"></app-hero>

<!-- Services Section -->
<app-services [data]="data().sections.services"></app-services>

<!-- Promotions Section -->
<app-promotions [data]="data().sections.promotions"></app-promotions>

<!-- Timetible Section -->
<app-timetable [data]="data().sections.timetable"></app-timetable>

<!-- Insurance Section -->
<app-insurances [data]="data().sections.insurances"></app-insurances>

<!-- Contact Section -->
<app-contact [data]="data().sections.contact"></app-contact>
