<section id="servicios" class="services">
  <div class="">
    <h2 class="section-title">Nuestros Servicios</h2>
    <p class="section-description">
      Servicios profesionales para el cuidado de tu mascota
    </p>
    <div class="service-cards">
      <div class="service-card">
        <h3 class="service-title">Consulta General</h3>
        <p class="service-description">
          Evaluación general de la salud de tu mascota para prevenir
          enfermedades.
        </p>
      </div>
      <div class="service-card">
        <h3 class="service-title">Cirugía</h3>
        <p class="service-description">
          Cirugías de rutina y emergencias, realizadas por especialistas.
        </p>
      </div>
      <!-- <div class="service-card">
          <h3 class="service-title">Vacunación</h3>
          <p class="service-description">Mantén a tu mascota protegida con las vacunas recomendadas.</p>
        </div> -->
    </div>
  </div>
</section>
