.services {
  background-color: #f1f1f1;
  padding: 60px 0;
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: #ffffff;
  width: 300px;
  height: 200px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-description {
  color: #6c6c6c;
}
