@use '@angular/material' as mat;
@use './app/styles/theme-colors' as my-theme; // location of generated file

html {
  @include mat.theme(
    (
      color: (
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
      ),
      typography: Inter,
      density: 0,
    )
  );
}

:root {
  --primary-color: var(--mat-sys-primary);
  --primary-soft-background: #f8f2f8;
  --gray-background: #f1f1f1;
  --text-color-footer: #64748b;
  --mdc-outlined-button-outline-color: var(--mat-sys-primary);
  --mat-icon-color: var(--mat-sys-primary);
  --border-color: #ad118f3b;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  font-family: Inter, Inter Fallback;
  font-size: 16px;

  min-width: 400px;
}

a {
  text-decoration: none;
  color: inherit;
}
