@use '@angular/material' as mat;
@use './app/styles/theme-colors' as my-theme; // location of generated file

html {
  @include mat.theme(
    (
      color: (
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
      ),
      typography: Inter,
      density: 0,
    )
  );
}

:root {
  --primary-color: var(--mat-sys-primary);
  --primary-contrast-color: var(--mat-sys-on-primary);
  --primary-darker-color: #731661;
  --primary-soft-background: #f8f2f8;
  --gray-background: #f1f1f1;
  --text-color-footer: #424c5c;
  --mdc-outlined-button-outline-color: var(--mat-sys-primary);
  --mat-icon-color: var(--mat-sys-primary);
  --border-color: #ad118f3b;
  --border-radius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  font-family: Inter, Inter Fallback;
  font-size: 16px;

  min-width: 400px;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Ocupa el alto de la pantalla
}

a {
  text-decoration: none;
  color: inherit;
}

.legal-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  line-height: 1.6;

  h1,
  h2 {
    color: var(--primary-color);
    margin-top: 1.5rem;
  }

  p {
    margin-bottom: 1rem;

    strong {
      color: var(--primary-darker-color);
    }
  }
}
