:root {
  display: flex;
}

html {
  scroll-behavior: smooth;
}

.container {
  min-height: 100vh;
}

.content {
  padding-bottom: 3rem;
  flex-grow: 1;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-description {
  font-size: 1.2rem;
  color: #6c6c6c;
  margin-bottom: 40px;
}

