<app-header
  class="sticky-header"
  [data]="data().header"
></app-header>

<div class="content">
  <!-- Hero Section -->
  <app-hero [data]="data().sections.hero"></app-hero>

  <!-- Services Section -->
  <app-services [data]="data().sections.services"></app-services>

  <!-- Timetible Section -->
  <app-timetable></app-timetable>

  <!-- Location Section -->
  <app-location></app-location>

  <!-- Contact Section -->
  <app-contact></app-contact>
</div>

<app-footer [data]="data().footer"></app-footer>
