<app-header></app-header>
<main>
  <section id="home">
    <h1>Welcome to Our Website</h1>
    <p>This is the home page of our application.</p>
  </section>
  <section
    id="services"
    class="section-services"
  >
    <h2>Our Services</h2>
    <p>We offer a variety of services to meet your needs.</p>
    <ul class="services-list">
      <li>Service 1</li>
      <li>Service 2</li>
      <li>Service 3</li>
    </ul>
  </section>
  <section
    id="map"
    class="section-map"
  >
    <img
      src="/mapa.png"
      alt="mapa de la localización de la clinica"
    />
  </section>
  <section
    id="contact"
    class="section-contact"
  >
    <h2>Contact Us</h2>
    <p>If you have any questions, feel free to reach out!</p>
  </section>
  <app-footer></app-footer>
</main>
